<div id="createFolderModal" class="folderModal">
    <div class="mainForm">
        <h3>Create Folder</h3>
        <form action="/folder" method="POST" class="loginForm">
            <div class="formRow">
                <label for="folderName">Folder Name:</label>
                <input type="text" name="folderName">
            </div>
            <div class="formActions">
                <button type="submit" id="createFolderBtn">Create Folder</button>
            </div>
        </form>
    </div>
</div>