<div id="deleteFolderModal" class="folderModal">
    <div class="mainForm">
        <% if (locals.folder) { %>
            <h3><%= folder.name %></h3>
        <% } %>
        <form action="/folder/<%= folder.name %>/delete" method="POST" class="loginForm">
            <span>Are you sure you want to delete the <%= folder.name %> folder?</span>
            <div class="formActions">
                <button type="submit" id="deleteFolderBtn">Delete Folder</button>
            </div>
        </form>
    </div>
</div>