<% if (locals.status && status.length) { %>
  <div class="xpError">
    <div class="xpErrorInner">
      <div class="xpErrorIcon">
        <img src="/erroricon.png" alt="error">
      </div>

      <div class="xpErrorContent">
        <ul>
          <% status.forEach((state) => { %>
            <li><%= state.msg %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
<% } %>
