<header class="header">
    <div class="headerInner">
        <a href="/">
            <div class="headerLeft">
                <div class="logo">
                    <img src="/icon.png" alt="upload icon">
                </div>
                <div>
                    <h1>File Uploader</h1>
                    <p>An old school file upload site</p>
                </div>
            </div>
        </a>
    </div>
</header>