<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="icon.png">
    <title>Sign Up | File Uploader</title>
  </head>
  <body>
    <div class="container">
        <%- include('partials/header.ejs') %>
        <div class="mainForm">
            <%- include("partials/errors.ejs") %>
            <h2>Upload File</h2>

            <form action="/upload" method="post" enctype="multipart/form-data" class="loginForm">
                <div class="formRow">
                    <label for="file">Choose file to upload:</label>
                    <input type="file" id="file" name="file">
                </div>
                <div class="formActions">
                    <button type="submit">Submit File</button>
                </div>
            </form>
        </div>
        <%- include("partials/footer.ejs") %>
    </div>
  </body>
</html>




